<div class="container">
    <div class="row col">
        <h2>
        </h2>
        <p>
        </p>
    </div>
</div>

<div class="card">
    <p></p>

    <a href="/topic/{{id}}">{{topic}}</a>
    <div class="card-content hoverable">
        <p>{{title}}</p>
       <p>{{comment}}</p> 

        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right"></i></span>
        <p><a href="/topic/{{blogPost.id}}">Posted By: {{user.name}}</a></p>
    </div>
</div>

{{>commentForm}}
