
<div class="col">
    <img>
    <h4> Name: {{ user-data }}</h4>
    <h4> Title: {{ user-data }}</h4>
    <h4> Bio: {{ user-data }}</h4>
    <h4> Email: {{ user-data }}</h4>
    {{!-- encript? --}}
    <h4> Password: {{ user-data }}</h4>
    {{!-- Possible: button to update password? --}}
</div>