
<div class="col" id="profile">
    <img>
    <h4><span id="bolder" Name:></span> {{ user.data }}</h4>
    <h4><span id="bolder" Title:></span> {{ user.data }}</h4>
    <h4><span id="bolder" Bio:></span> {{ user.data }}</h4>
    <h4><span id="bolder" Email:></span> {{ user.data }}</h4>
    {{!-- encript? --}}
    <h4><span id="bolder" Password:></span> {{ user.data }}</h4>
    {{!-- Possible: button to update password? --}}
</div>