<div class="divider"></div>
<div class="row"></div>
<div class="row">
    <div class="col">
        <div class="col">
            <h1></h1>
            <h3>{{user.name}}</h3>
        </div>
        <div class="col">
            <div class="row">
                <h4> Your Discussions: </h4>
            </div>
            <div class="col">
                {{#each profile.blog_posts as |blog|}}
                <p>{{ blog.topic }}</p>
                <p>{{ blog.comment }}</p>
                <p>{{ blog.date_created }}</p>
                {{/each}}
            </div>
        </div>
        <hr>
        {{!-- <div class="col"> 
            <h4> Saved Discussions: </h4>
            <div>
                {{ blog_post }}
            </div> --}}
        </div>

    </div>
    {{!-- <div class= "col">
        {{ profile }}

    </div> --}}
</div>